.grandeCase
    width: 65%
    height: 100%
    background-color: white

    border-radius: 50px

.portrait
    width: 45%
    // height: 90vh
    border-top-left-radius: 50px
    border-bottom-left-radius: 50px