.grandeCase
    width: 65%
    height: 100%
    background-color: white

    border-radius: 50px

.portrait
    width: 45%
    border-top-left-radius: 50px
    border-bottom-left-radius: 50px

.link
    font-size: 13px
    & p
        text-decoration: underline 1px

.zhong
    & p:nth-of-type(1)
        font-size: 35px

    & p:nth-of-type(2)
        font-size: 14px
        margin-top: -20px

.artStation
    & img
        width: 40px
        height: 40px
        border-radius: 50%

    & button
        height: 40px

.abonnes
    & p:nth-of-type(1)
        font-weight: 500
        font-size: 13px
        
    & p:nth-of-type(2)
        font-size: 13px
        margin-top: -22px
        

        